body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('assets/download-removebg-preview.png'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho para sua imagem */
  background-repeat: no-repeat; /* Evita que a imagem de fundo se repita */
  background-size: 400px; /* Redimensiona a imagem para cobrir todo o fundo */
  background-position: calc(85% + 50px) calc(-50% + 50px); /* Posiciona a imagem à direita no centro */
  position: relative; /* Para usar z-index */
  margin-bottom: -120px;
  z-index: 5;
}
